body {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 25px;
  margin-bottom: 50px; /* A enlever quand il y aura un footer */
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: rgb(50, 50, 50);
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
